<%= link_to 'Create Account', new_user_registration_path, :id => 'create_account_link' %>
<% if user_signed_in? %>
	<br>
		Signed In As: <%= current_user.email %>
	<br>
		<%= link_to 'Sign out', destroy_user_session_path, :method => :delete, id: 'sign_out' %>
	<% else %>
		<%= link_to 'Sign In', new_user_session_path, id: 'Sign_in' %>
<% end %>

<div class="new-budget-item">
	<p>New Budget Item :</p>
	<%= simple_form_for :budgetlist do |f| %>
		<%= f.input :budget_item, placeholder: 'Item', label: false %>
		<%= f.input :budget_amount, label: false, placeholder: 'Amount' %>
		<%= f.submit 'Add To List' %>
	<% end %>
</div>